.form {
  width: 100%;
  padding: 0 20px;
  max-width: 850px;
  margin: 0 auto;
}

.fieldset {
  border: 1.5px solid #5c5c5c;
  margin-bottom: 20px;
}

.legend {
  font-size: 20px;
  padding: 0 10px;
  font-weight: bold;
  border: 1px solid #5c5c5c;
}

.details {
  font-weight: bold;
}

.radio-group label {
  margin-right: 20px; /* Adds space to the right of the first label */
}
.radio-group label:last-child {
  margin-right: 0; /* Removes the space to the right of the last label */
}

.bmi {
  font-size: 25px;
  margin: 40px;
}

.formContainer {
  width: 420px;
  padding: 30px;
}

input::placeholder {
  text-align: right;
}

.formArea {
  position: relative;
  height: 50px;
  line-height: 55px;
}

.formDetail {
  position: absolute;
  width: 100%;
  outline: none;
  padding-left: 20px;
  font-size: 1.4em;
  line-height: 50px;
  border: 2px solid #131217;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}

.labelLine {
  position: absolute;
  font-size: 1.4em;
  color: hsl(0, 0%, 55%);
  padding: 0 12px;
  margin: 0 200px;
  background-color: white;
  transition: 0.3s ease;
}

.formDetail:focus,
.formDetail:valid {
  color: teal;
  border: 2px solid teal;
}

.formDetail:focus + .labelLine,
.formDetail:valid + .labelLine {
  color: teal;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-15px, -16px) scale(0.85);
  z-index: 1111;
}